.DS_Store
test*
*/uploads/activities/*.jpg
*-full.png
CIMG*
.ovh
*.ovh.*
config/configuration.*
config/settings.*
config/*.json
database.json
*.sublime-*
preinscriptions/pages/disabled/data.disabled

config/prices.json
