Options -Indexes

<FilesMatch "\.(ttf|otf|eot|woff)$">
  Header set Access-Control-Allow-Origin "*"
</FilesMatch>

RewriteEngine On
# pages
RewriteRule ^([a-z-]+)/?$ /?page=$1
RewriteRule ^([a-z-]+)/([a-z0-9-]+)/?$ /?page=$1&rel=$
RewriteRule ^([a-z-]+)/$ /$1 [R,L]
RewriteRule ^([a-z-]+)/([a-z0-9-]+)/$ /$1/$2 [R,L]
# img
RewriteRule ^uploads/activities/default.jpg$ /img/logo/fsc-210x135.png
# api
RewriteRule ^api/([a-z-]+)\.json$ /api/$1.php

ErrorDocument 404 /index.php?page=404