@charset "UTF-8";

@import url('common.css');

header {
  margin: 20px 0 0 0;
}

h1 {
  font-weight: 400;
}

.cnil {
  font-size: 13px;
}
.cnil span.info {
  display: block;
  cursor: pointer;
}

img.gravatar {
  margin-right: 5px;
  opacity: 0.8;
}

.page-home .hero-unit {
	padding: 10px 20px;
	line-height: 75px;
	overflow:hidden;
}

.page-home h1 {
	font-size: 40px;
	margin: 0;
	line-height: 75px;
}

@media (min-width: 980px) {
  .container {
    max-width: 940px;
  }
}

@media (max-width: 979px) {
	.page-home .hero-unit h1 {
		line-height: 40px;
		font-size: 35px;
	}
}

@media (max-width: 767px) {
	.page-home .hero-unit h1 {
		line-height: 35px;
		font-size: 30px;
	}
	.page-home .links .span3 + .span3 {
		margin-top: 30px;
	}
}

@media (max-width: 480px) {
  	.page-home .hero-unit h1 {
		line-height: 30px;
		font-size: 25px;
	}
}