RewriteEngine On

RewriteRule ^([a-z-]+)/$ /?page=$1
RewriteRule ^([a-z-]+)/([a-z0-9-]+)/$ /?page=$1&rel=$2
RewriteRule ^([a-z-]+)$ /$1/ [R]
RewriteRule ^([a-z-]+)/([a-z0-9-]+)$ /$1/$2/ [R]

RewriteCond %{HTTP_HOST} ^fsc.localhost.local$
RewriteRule ^(.*) http://inscription.fsc.localhost.local/$1 [QSA,L,R]